defaults:
  - _self_
  - models: null
  - dataset: null

# These are placeholders that will be overridden
#dataset2: null
#models2: null


# Global parameters
seed: 42
resume_training: False
offline: False
device: cuda
cuda_device: 0


# Checkpoints
checkpoint:  
  seed: 42
  temperature: 1.0
  epochs: 10
  num_classes: 5 # for synthetic otherwise not accessed
  num_features: 10 # for synthetic otherwise not accessed

# main commands
pretrain: False
test: False
calibrate: True
exp_name: 
data: 'synthetic'
calibration_method: "local_calibration"

# synthetic data model
#init_logits_scaling: 1.

# weight and bias
wandb_entity: cesare-barbera-university-of-trento
wandb_project: calibration-experiments
wandb_id:
use_wandb: True

# testing and calibration metrics
n_bins_calibration_metrics: 15
save_path_calibration_plots: /home/barbera/calibration/localibration/results/plots/
save_path_calibration_metrics: /home/barbera/calibration/localibration/results/metrics/

# default behaviour for batch size
batch_size_map:
  pre-train: 32
  calibrate: 1024 #512

# default models for experiment
models_map:
  mnist: mnist_cnn
  synthetic: mlp
  tissue: tissue_vit #tissue_resnet50
  path: path_vit
  cifar10: cifar10_resnet50 #cifar10_vit
  cifar10LT: cifar10LT_vit
  covtype: covtype_resmlp #covtype_ftt
  otto: otto_resmlp #otto_ftt 

# HP-optimisation
use_optuna: False
optuna_epochs: 15
n_trials: 50
multi_obj: False


