defaults:
  - _self_
  - models: null
  - dataset: null


calibrator_version: v2
return_features: True # run calibration on features embeddings
similarity_dim: 50 #number of pca dimensions to use

# Global parameters
seeds: [42, 43, 44, 45, 46] # for multiple runs
seed: 42
resume_training: False
offline: False
device: cuda
cuda_device: 0

# Checkpoints
checkpoint:  
  seed: 42
  temperature: 1.0
  epochs: 10
  num_classes: 10
  num_features: 

# main commands
pretrain: False
test: False
calibrate: True
viz_and_test: False
competition: False
exp_name: 
data: 'cifar10'
calibration_method: "local_calibration"
only_test: False

# weight and bias
wandb_entity: ""
wandb_project: ""
wandb_id:
use_wandb: True

# testing and calibration metrics
n_bins_calibration_metrics: 15
bin_strategy: # 'quantile' for same size bins or 'default' which uses probabilities theresholds (equivalent to uniform)
gamma: 0.1 # bandwidth for LCE
save_path_calibration_plots: "ADD THE PATH TO CALIBRATION PLOTS HERE"
save_path_calibration_metrics: "ADD YOUR METRICS RESULTS FILE HERE"
save_path_boxplots: "BOXPLOTS"
# default behaviour for batch size
batch_size_map:
  pre-train: 32
  calibrate: 1024 

# default models for experiment
models_map:
  tissue: tissue_resnet50
  cifar10: cifar10_resnet50 
  cifar100: cifar100_resnet152 

# HP-optimisation
use_optuna: False
optuna_epochs: 15
n_trials: 50
multi_obj: False

#competitors
methods: ['TS', 'IR', 'PS', 'DC'] #tempearature scaling, isotonic regression, platt scaling, dirichlet calibration
method:
gammas: [10] 

class_freqs: [.1, .1, .1, .1, .1, .1, .1, .1, .1, .1]
