defaults:
  - _self_

model: calibrator
data_name: 

optimizer:
  name: adam 
  lr: 1e-3 
  weight_decay: 0. 

loss:
  name: 
  gamma: 2
  
# calibration hyper-parameters                                                                                                                                                                                        
log_var_initializer: 1.     # Control initial variance. less classes -> smaller values. If sampling is true set to small values to initialize encodings close to inputs   #   
hidden_dim: 256             # Size of hidden layer of calibrating net                                                                                                     #
alpha1: 15.                 # Classification contraint penalty                                                                                                            #                                                                                                           #
lambda_js: 10.              # JS-distance hyperparameter                                                                                                                  #
epochs: 100                 # Number of epochs                                                                                                                            #
smoothing: 0.               # Label-smootihng parameter to improve on sparse data (many classes -> more sparse matrices!) 4.5e-2                                          #
use_empirical_freqs: True   # If true computes cross-entropy with empirical frequencies about of each point in place else uses softmax of new latent encodings            #
predict_labels: True        # If true computes cross-entropy with true labels else uses predicted labels of frozen model                                                  #
js_distance: True           # If true copmutes JS distance in place of kl divergence between model scroes and kernel estimates                                            #
dropout: 0.1                # Dropout to regularize calibrator                                                                                                            #
linearly_combine_pca: False # If true learns a linear combination of pca components to add to similarity embeddings else adds pca components directly                     #

